.largefont, .largefont p{font-size:16px;}
.skt-golf-notice-container{width:100%; padding:15px 0 15px 0;}
.skt-golf-notice-img{float:left; text-align:left; width:13%;}
.skt-golf-notice-content{float:left; text-align:left; width:85%; padding-top:33px;}
.skt-golf-notice-heading{font-size:20px; font-weight:600;}
.skt-golf-clear{clear:both;}
.wp-block{max-width: 1210px !important;}